@import "../index.scss";

.dashboard {
  height: max-content;
  min-height: 100vh;
  margin-top: 0px;

  max-width: 100%;
  padding: 0 15px;
}

.app_container.dash_layout {
  margin-top: 0px;
  margin-bottom: 0px !important;
  max-width: 100%;
}

.dashboard nav {
  background: var(--deadwhite);
  padding: 0px;
}

.dashboard .MuiList-root {
  color: var(--darkgreytransp);
}

.UL-dashboard {
  @include flex(flex-start, center, column, 1em);
}

.dash_options {
  width: 100%;
  height: 40px;
  padding: 1em;
  @include flex(flex-start, center, row, 1em);
  text-decoration: none !important;
  color: var(--darkgreytransp) !important;
  transition: all 0.5s ease-in-out;

  &:hover {
    text-decoration: none !important;
    background: white;
  }

  p {
    height: 100%;
  }
}

.dash_nav_icon {
  font-size: 25px;
}

.dash_home_link {
  font-size: 30px !important;
}

.dash_title {
  background: var(--blue);
  color: var(--deadwhite) !important;
  width: 100%;
  margin: 0;
}
