.chip_container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.chip_container .MuiChip-root {
  margin-left: 10px;
}

.rdw-editor-toolbar {
  margin-bottom: 0;
}
.rdw-editor-main {
  border: 1px solid #f1f1f1;
  padding: 10px;
}

.actors_form {
  border: 1px solid #c9c9c9;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
}

.actors_form .input {
  margin-left: 10px;
  flex: 1;
}

.actors_form .MuiButtonBase-root {
  border-bottom: 0px;
}
.article_form {
  padding-bottom: 50px;
}
.article_form .MuiSelect-root {
  min-width: 200px;
}

.stepper_form {
  text-align: center;
}

.auth_grid input {
  font-size: 20px;
}

.form-group {
  margin-top: 20px;
}

.rdw-editor-toolbar,
.rdw-editor-main {
  border-color: rgba(0, 0, 0, 0.23);
}

.demo-wrapper.error .rdw-editor-main {
  // border-color: red;
}
.chip_container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.chip_container .MuiChip-root {
  margin-left: 10px;
}

.rdw-editor-toolbar {
  margin-bottom: 0;
}
.rdw-editor-main {
  border: 1px solid #f1f1f1;
  padding: 10px;
}

.actors_form {
  border: 1px solid #c9c9c9;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
}

.actors_form .input {
  margin-left: 10px;
  flex: 1;
}

.actors_form .MuiButtonBase-root {
  border-bottom: 0px;
}
.article_form {
  padding-bottom: 50px;
}
.article_form .MuiSelect-root {
  min-width: 200px;
}

.stepper_form {
  text-align: center;
}

.auth_grid input {
  font-size: 20px;
}

.form-group {
  margin-top: 20px;
}

.rdw-editor-toolbar,
.rdw-editor-main {
  border-color: rgba(0, 0, 0, 0.23);
}

.demo-wrapper.error .rdw-editor-main {
  // border-color: red;
}

.dash_wy_headline {
  color: var(--darkgreytransp);
  margin-bottom: 15px;
}

.dash_wy_divider {
  color: rgba(255, 255, 255, 0.219) !important;
}
