@import "../../index.scss";

.card_component .Loader {
  border: solid 1px red;
  width: 100%;
  height: 100vh;
  @include flex(center, center, row, 0);
}

.card_actions {
  width: 100%;
  @include flex(center, center, row, 1em);

  p {
    position: relative;
    top: 10px;
    right: -10px;
    color: var(--darkgreytransp);
  }

  .card_delete_icon,
  .card_likeicon,
  .card_viewicon {
    font-size: var(--cardicon);
    color: var(--darkgreytransp);
  }

  .action_card_icon {
    height: 100%;
    @extend .button_reset;
    border: none;
  }

  .action_card_icon:hover {
    color: var(--blue);
  }
}
