@import "../../index.scss";

// header
.home_container {
  @include flex(center, center, column, 1em);
  margin-bottom: 10px;
}

.home_header {
  width: 100%;
  height: 50vh;
  background-image: url("../../multimedia/obr4.jpeg");
  background-size: cover;
  background-position: 20% 55%;
  background-repeat: no-repeat;
  position: relative;
}

.home_header_prompt {
  @include flex(center, center, column, 1em);
  height: 60%;
  width: 50%;
  @include positionabscenter();
  text-align: center;
  top: 25%;
  @include Glass();
  border-radius: 10px;

  p {
    font-size: 20px;
  }

  button {
    @extend .button_reset;
    padding: 6px 10px;
    background: var(--blue);
    color: var(--deadwhite);
    border: none;
    @include boxShadow(rgba(68, 85, 180, 0.342));
  }
}

.home_toggle_onboarding {
  @extend .button_reset;
  border: none;
  background: none;
  color: var(--blue);
  font-size: 20px;
  @include positionabs(absolute, 5%, 96%);
}
.home_loadmore_icon {
  color: var(--deadwhite);
}

.home_taskbar {
  background: var(--deadwhite);
  width: 100%;
  @include flex(space-between, center, row, 1em);
  .filler {
    width: 80%;
    height: 8vh;
  }

  .task_favorite {
    background: none;
    border: none !important;
    outline: none;
  }

  .taskbar_icons {
    font-size: var(--taskicon);
    width: 20%;
    color: var(--darkgreytransp);

    @include flex(center, center, row, 1em);

    .task_icon {
      cursor: pointer;
      // position: relative;
      transition: all 0.5s ease-in-out;
      color: var(--darkgreytransp) !important;

      &:hover {
        transform: scale(1.1);
        color: var(--blue) !important;
      }
    }
  }
}

.pen {
  font-size: 25px;
}

.home_start_tour {
  color: var(--darkgrey);
  width: 50vw;
  text-align: center;
  span {
    color: var(--blue);
    cursor: pointer;
  }
}

// card

.article_card {
  width: 100%;
  height: 120vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 450px;
  grid-auto-rows: max-content;
  gap: 1em;
  overflow-y: scroll;
  padding: 1em;
  border: solid 1px var(--litegrey);
  border-radius: 5px;
}

.card_container {
  display: grid;
  grid-template-columns: minmax(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 450px;
  grid-auto-rows: 300px;
}

.card_component {
  position: relative;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.349);
    cursor: pointer;
  }
}

.loadmore_btn {
  width: 75vw;
}

.loadmore_icon {
  font-size: 20px;
  font-weight: bolder;
}

.card_actions {
  @include positionabs(absolute, 85%, 0);
}

.home_no_content {
  width: 100%;
  height: 100%;
  text-align: center;
  img {
    width: 30%;
  }
  h3 {
    margin-top: 35px;
  }
}

.doodleimg_anim {
  animation: hover 3s ease-in-out infinite forwards;
}

.home_add_nudge {
  color: var(--blue);
}

@keyframes hover {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.fav_articles {
  background: var(--deadwhite);
  width: 20vw;
  height: 50vh;
  @include positionabs(absolute, 64%, 0%);
  z-index: 3;
  padding: 1em;
  @include Shadow();
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  outline: none;
  overflow-y: scroll;

  .fav_close {
    @extend .button_reset;
    border: none;
    font-size: 25px;
    position: fixed;
    right: 6%;
    top: 2.5%;
    color: rgb(248, 175, 175);
    cursor: pointer;
    z-index: 5;
  }

  h4 {
    @include positionabs(absolute, 40%, 15%);

    width: 100%;
  }
}

.article_picked_section {
  @include flex(center, center, column, 1em);
}

.liked_article_title {
  background: var(--blue);
  padding: 4px 4px;
  color: var(--deadwhite);
  margin-bottom: 5px;
  border-radius: 5px;
}

.article_picked {
  background: var(--darkgreytransp);
  padding: 1em;
  color: white !important;
  border-radius: 5px;
}
