*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  padding: 0;
  margin: 0;
}

:root {
  --blue: rgb(68, 84, 180);
  --yellow: rgb(255, 226, 147);
  --bluelight: rgba(204, 211, 250, 0.37);
  --darkgrey: rgb(53, 54, 66);
  --litegrey: rgb(228, 230, 255);
  --darkgreytransp: rgba(53, 54, 66, 0.589);
  --deadwhite: #ededed;
  --cardicon: 25px;
  --taskicon: 35px;
  --error: #d63031;
}

@mixin flex($jc, $ai, $fd, $gap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $gap;
}

@mixin boxShadow($col) {
  box-shadow: 0 4px 8px -1px $col;
}

@mixin Glass() {
  background: rgba(255, 255, 255, 0.103);
  box-shadow: 0 8px 32px 0 rgba(25, 25, 26, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@mixin Shadow() {
  box-shadow: 0 8px 32px 0 rgba(25, 25, 26, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin positionabs($abs, $top, $left) {
  position: $abs;
  top: $top;
  left: $left;
}

@mixin positionabscenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

@mixin circle($w, $h) {
  width: $w;
  height: $h;
  border-radius: 50%;
}
@mixin square($w, $h) {
  width: $w;
  height: $h;
  border-radius: 10%;
}

.button_reset {
  background: none;
  border-radius: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(191, 201, 236);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// media queries

// media queries
// 320px, 768px, and 1200px

@media screen and (max-width: 582px) {
  // login
  .auth_container {
    height: 90vh;
    @include flex(center, center, column, 1em);

    .registration_slider_section {
      display: none;
    }

    .registration_section {
      .registration_btn {
        max-width: 100px !important;
      }

      .reg_prompt {
        font-size: 12px;
      }
    }
  }

  .reg_content_headline {
    font-size: 20px;
  }

  // navigation bar

  .navigation_bar {
    .nav_personalInfo {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      display: none;
    }
    .nav_personicon {
      font-size: 15px;
    }
  }

  // home
  // >> banner

  .home_header {
    .home_header_prompt {
      width: 90%;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 15px;
        padding: 5px;
      }
    }
    .home_toggle_onboarding {
      left: 90%;
      top: 2%;
    }
  }

  .card_component {
    margin: 0 auto;
  }

  .article_card {
    justify-content: center;
    align-items: center;
  }

  .home_taskbar {
    justify-content: center;

    .filler {
      width: 30%;
      border: solid 1px blue;
      display: none;
    }

    .taskbar_icons {
    }
  }

  .content_container {
    width: 100%;
    padding: 1em;
  }

  // footer
  .footer_section {
    display: none;
  }

  // dashboard

  .adminLayout {
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard {
    height: max-content;
    margin: 0 auto;
    width: 100%;
  }

  .last_title {
    display: none;
  }
  .middle_section_title {
    font-size: 15px;
    width: 100%;

    &:nth-child(2) {
      display: none;
      color: orange;
    }
  }

  .top_section {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .middle_section {
    margin: 10px 0;
    @include flex(space-between, center, column, 1em);
  }

  .graphs_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 1em;
    display: none;
  }

  .sov,
  .timeline {
    border: solid 1px var(--deadwhite);
    border-radius: 3px;
    padding: 1em;
    background: white;
    display: none;
  }
}

@media screen and (min-width: 583px) and (max-width: 900px) {
  .reg_content_headline {
    font-size: 20px;
  }

  .home_taskbar {
    justify-content: center;

    .filler {
      width: 30%;
      border: solid 1px blue;
      display: none;
    }

    .taskbar_icons {
    }
  }

  .card_component {
    margin: 0 auto;
  }

  .footer_section {
    height: 300px;
    padding: 10px;
    .social_links {
      @include flex(center, center, row, 0);
      height: 70px;
    }
    .footerLinks {
      padding: 0;
      display: flex;
      gap: 2em;
    }

    .problem {
      display: none;
    }

    .general {
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
      h3 {
        font-size: 20px;
      }
    }

    .socialIcons {
      font-size: 25px;
    }

    .sponsorIcons {
      display: none;
    }
  }

  // dashboard

  .sidebar_dashboard {
    border: solid 1px red;
  }

  .nav_personalInfo {
    display: none;
  }

  .home_header_prompt {
    width: 90%;
  }

  .dashboard nav {
    /* background: var(--deadwhite); */
    padding: 0px;
    min-width: 200px;
    min-height: 100vh;
    position: absolute;
  }

  .dash_title {
    width: 200px;
    text-align: center;
  }

  .adminLayout {
    padding: 0 !important;
    margin: 0 !important;
    border: solid 1px red;
  }
  .dashboard {
    height: max-content;
    margin: 0 auto;
    width: 100%;
  }

  .last_title {
    display: none;
  }
  .middle_section_title {
    font-size: 15px;
    width: 100%;

    &:nth-child(2) {
      display: none;
      color: orange;
    }
  }

  .top_section {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .middle_section {
    margin: 10px 0;
    @include flex(space-between, center, column, 1em);
  }

  .graphs_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 1em;
    display: none;
  }

  .sov,
  .timeline {
    border: solid 1px var(--deadwhite);
    border-radius: 3px;
    padding: 1em;
    background: white;
    display: none;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) {
  .home_taskbar {
    justify-content: center;

    .filler {
      width: 30%;
      border: solid 1px blue;
      display: none;
    }

    .taskbar_icons {
    }
  }

  .reg_content_headline {
    font-size: 20px;
  }

  .card_component {
    margin: 0 auto;
  }

  .footer_section {
    height: 300px;
    padding: 10px;
    .social_links {
      @include flex(center, center, row, 0);
      height: 70px;
    }
    .footerLinks {
      padding: 0;
      display: flex;
      gap: 2em;
    }

    .problem {
      display: none;
    }

    .general {
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
      h3 {
        font-size: 20px;
      }
    }

    .socialIcons {
      font-size: 25px;
    }

    .sponsorIcons {
      display: none;
    }
  }

  // dashboard

  .sidebar_dashboard {
    border: solid 1px red;
    margin-right: 10px;
  }

  .nav_personalInfo {
    display: none;
  }

  .home_header_prompt {
    width: 90%;
  }

  .dashboard nav {
    /* background: var(--deadwhite); */
    padding: 0px;
    min-width: 200px;
    min-height: 100vh;
    position: absolute;
  }

  .dash_title {
    width: 200px;
    text-align: center;
  }

  .adminLayout {
    padding: 0 !important;
    margin: 0 !important;
    border: solid 1px red;
  }
  .dashboard {
    height: max-content;
    margin: 0 auto;
    width: 100%;
  }

  .last_title {
    display: none;
  }
  .middle_section_title {
    font-size: 15px;
    width: 100%;

    &:nth-child(2) {
      display: none;
      color: orange;
    }
  }

  .h2 {
    display: none;
  }

  .top_section {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }

  .middle_section {
    margin: 10px 0;
    @include flex(space-between, center, column, 1em);
  }

  .graphs_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 1em;
    display: none;
  }

  .sov,
  .timeline {
    border: solid 1px var(--deadwhite);
    border-radius: 3px;
    padding: 1em;
    background: white;
    display: none;
  }
}

.downer {
  bottom: -90%;
}
